*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #808791;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
}

.tudo{
    position: absolute;
    left: 15vh;
    border-radius: 5px;
    border: solid;
    border-color: gray;
    top: 35vh;
    width: 500px;
}

.cima{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    margin-right: 15px;
}

.tarefas{
    display: flex;
    flex-direction: column;
    width: 500px;
}

ul{
    margin-left: 40px;
    padding: 15px;
}

li{
    padding: 5px;
    border-radius: 5px;
}

input{
    padding: 10px;
    width: 275px;
    border-radius: 5px;
}

button{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}